<form id="search-movie-form">
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Movie title">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
