<!DOCTYPE html>
<html>

<%- include includes/head %>

<body>
    <div class="container">
        <%- include includes/search-bar %>
        <div id="movies">
            <% movies.forEach(function(movie){ %>
            <%- include("includes/movie", {
                    movieKey: movie.key,
                    movieValue: movie.val()
                }); %>
            <% }); %>
        </div>
    </div>
    <% include includes/scripts %>
</body>

</html>
