<!DOCTYPE html>
<html>

<%- include includes/head %>

<body>
    <div class="container">
        <%- include includes/search-bar %>
        <div id="movies"></div>
    </div>
    <% include includes/scripts %>
</body>

</html>
