<!DOCTYPE html>
<html>

<%- include includes/head %>

<body>
    <div class="container">
        <%- include includes/search-bar %>
        <div id="movie">
            <%- include("includes/master", {movie: movie}); %>
            <%- include("includes/detail", {movie: movie}); %>
        </div>
    </div>
    <% include includes/scripts %>
</body>

</html>
